.logo_img{
    width: 80%;
}
.logo_img_resp{
    width: 300px;
}
.logo_sidebar{
    width: 130px;
    margin-top: 30px;
    margin-right: 8px;
}
.logo_sidebar_menu{
    width: 130px;
    margin-top: 30px;
    margin-right: 10px;
}
.logo-navbar{
    width: 100px;
}
.logo_fma_pagos{
    width: 160px;
}
.fondo_menu{
    width: 100%;
    height: 120vh;
    object-fit: cover ;
}
.fondo_menu_responsive{
    width: 100%;
    height: 140vh;
    object-fit: cover ;
}

.img_activity {
    width: 100%;
    cursor: pointer;
}
.icon{
    color: white;
}

.login_container{
    display: flex;
}
.logo_container{
    display: none;
}
/* .background_item{
    background-color: #DBE6FD;
} */
.img_activities{
    width: 100%;
}




@media (min-width: 600px){
    .logo_img_resp{
        display: none;
    }
    
}
/* @media (max-width: 600px){
    .sidebar{
        display: none;
    }
    
} */